// _animatronics.scss

////= Animatronics (Animation/Transition Classes and Placeholders)
//======================================================================//

//== Emphasizers ========================================================/

.presence,
%presence {
  color: $presence-color;

  &-blink {
    @extend .presence;
    animation: blink $secondary-trans steps(1, end) infinite;
  }

  &-pulse {
    @extend .presence;
    animation: pulse $secondary-trans infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  @keyframes pulse {
    50% {
      opacity: 0;
    }
  }
}

.underline,
%underline {
  &-accordion {
    &::before {
      @include scaleX($under-acc-scalex-start);
      background: $under-acc-bg-color;
      content: '';
      height: pxem($under-acc-height);
      left: 0;
      position: absolute;
      right: 0;
      top: 100%;
      transition: $primary-trans;
    }

    &:active::before,
    &:hover::before {
      @include scaleX($under-acc-scalex-end);
    }
  }
}
